
@{
    ViewBag.Title = "Dell obj book";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeletedBook</title>
</head>
<body>
    <form action="~/Home/Index" method="post">
        <p>Всё ок уходи </p>
        <input type="submit" />

    </form>
</body>
</html>
